.SidebarContainer {
  position: fixed;
  height: 100%;
  width: 250px;
  background-color: #0c1a25;
  border-right: 1px solid #29343c;
  color: #656d74;
  left: 0px;
  -webkit-transform: translateX(-80%);
  transform: translateX(-80%);
  transition: transform 200ms ease-in; }

.SidebarContainer.isOpen {
  -webkit-transform: none;
  transform: none;
  transition: transform 200ms ease-in; }

.SidebarContainer .SidebarIcon {
  float: right;
  margin: 10px;
  font-size: 24px; }

.SidebarContainer .SidebarList {
  list-style: none;
  left: 0;
  margin-left: 0;
  margin-top: 50px;
  padding: 0; }

.SidebarContainer .SidebarList li {
  padding-left: 50px;
  height: 60px;
  line-height: 60px;
  vertical-align: middle; }

.SidebarContainer .SidebarList li:hover {
  color: #b5bec2;
  background-color: #2c3c46;
  border-left: 2px solid #258871; }
